body {
    background-color: #0000008f;
}
.container {
  max-width:1200px;
  margin: 0 auto;
}
h1#title {
  color: #fff;
  margin: 0.6em 0;
  background-color: #000;
  border-start-start-radius: 5px;
  border-start-end-radius: 5px;
  padding: 10px 0;
}
img.card-img-top {
  width: 100%;
  object-fit: cover;
  height: 400px;
  object-position: bottom;
}
.card {
  min-height: 610px;
}
@media screen and (max-width:480px) {
  h1#title{
  font-size:1.6em;
  }
}