.mani{
    display: inline-block;
    max-width: fit-content;
    text-align: center;
    border-radius:5px;
    background-color: blue;
    color:#fff;
    font-size: 20px;
    padding: 0.5em;
}
#muthu{
    display: inline-block;
    max-width: fit-content;
    border-radius:5px;
    text-align: center;
    background-color: black;
    color:#fff;
    font-size: 20px;
    padding: 0.5em;
}