.event_update h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.event_update p{
    text-align: center;
}
.left_side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_image {
    border: 1px solid lightgray;
    padding: 2em;
}

